
body {
    font-family: "Poppins", sans-serif;
    background: #0D0D0D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.container {
    background: #1A1A1A;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 280px; 
    height: 200px;
    position: relative;
    overflow: hidden;
}


.form-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.4s ease-in-out;
}


.hidden {
    transform: translateX(100%);
}


input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    background: #222222;
    color: white;
    font-size: 13px; 
    outline: none;
    text-indent: 8px;
    transition: all 0.3s;
}

input:focus {
    background: #292929;
}


button {
    width: 92%; 
    padding: 9px; 
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #333333, #222222);
    color: white;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 8px;
    transition: all 0.3s;
}

button:hover {
    background: linear-gradient(to right, #444444, #333333);
}


.switch-form {
    color: #9b9b9b;
    cursor: pointer;
    font-size: 12px; 
    margin-top: 8px;
    transition: 0.3s;
}

.switch-form:hover {
    color: white;
}


.slide-left {
    transform: translateX(-100%);
}

.slide-in {
    transform: translateX(0);
}
